<html>
    <head>

        <title>Library Page</title>

    </head>
    <style>
        .required:before {
          content:" *";
          color: red;
        }
      </style>

    <body>

        <h2>Library Application</h2><hr>
        <form>
            <div class="mb-3">
              <label class="form-label">Email address</label>
              <input type="email" class="form-control"  aria-describedby="emailHelp">
              <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
              <label class="form-label">Password</label>
              <input type="password" class="form-control">
            </div>
            <div class="mb-3 form-check">
              <input type="checkbox" class="form-check-input" >
              <label class="form-check-label" >Check me out</label>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <a href="{% url 'all_active_books' %}" class="btn btn-warning">Show Active Books</a>
    
        <a href="{% url 'all_inactive_books' %}" class="btn btn-danger">Show In-Active Books</a>

        
    </body>
    

</html>